@mixin status-bubble($w, $h) {
  border-radius: 5px;
  width: $w;
  height: $h;
  font-size: 16px;
  margin-right: 0.5em;
  //  transform: translateY(6px);
  transform: translateY(1px);
}

.card {
  display: flex;
  border-radius: 10px;
  color: #f5f5f5;
  background-color: #3c3e44;
  height: 300px;
  &:hover {
    background-color: darkblue;
  }
}
.imageBorder {
  width: 350px;
  height: 150px;
}
.image {
  border-radius: 10px 0 0 10px;
}
.not-alive-img {
  opacity: 0.3;
}

.card-info {
  //   padding-left: 1em;
  padding-left: 80px;
  padding-top: 20px;
  width: calc(100% - 300px);
}

.name {
  font-size: 30px;
  margin-bottom: 0;
}
.descriptor {
  color: #9e9e9e;
  font-size: 15px;
  margin-bottom: 0;
}
.description {
  font-size: 17px;
  margin-top: 0;
}
.status {
  display: flex;
  align-items: center;
  align-content: center;
  height: 30px;
}

.character-status-unknown {
  @include status-bubble(10px, 10px);
  background-color: #9e9e9e;
}
.character-status-alive {
  @include status-bubble(10px, 10px);
  background-color: #61ff00;
}
.character-status-dead {
  @include status-bubble(10px, 10px);
  background-color: #ea3434;
}
